@mixin generate-utility($className, $breakpoints: (xs, sm, lg, xl, xxl, 'print')) {
    .#{$className} {
        @content;
    }

    $last: length($mix-mq-breakpoints);

    @each $breakpoint in $breakpoints {
        @if (map-has-key($mix-mq-breakpoints, $breakpoint)) {
            $suffix: get-breakpoint-suffix($breakpoint, true);
            $current: index(map-keys($mix-mq-breakpoints), $breakpoint);

            @if $current != $last {
                @include mq($breakpoint, nth(map-keys($mix-mq-breakpoints), $current + 1)) {
                    .#{$className}#{$suffix} {
                        @content;
                    }
                }
            } @else {
                @include mq($breakpoint) {
                    .#{$className}#{$suffix} {
                        @content;
                    }
                }
            }
        } @elseif $breakpoint == 'print' {
            @include mq($breakpoint) {
                .#{$className}\@print {
                    @content;
                }
            }
        }
    }
}
